@tailwind base;
@tailwind components;
@tailwind utilities;

/* My custom CSS */
@layer components {
  
  @media screen and (min-width: 1300px) {
    
    .theme-tet-header-left::before {
      background-image: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/newyear2023/Background/hoa-mai.png);
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      content: '';
      z-index: 1000;
      width: 95px;
      height: 119px;
      background-size: 100%;
      position: absolute;
      pointer-events: none;
    }}
    
  @media screen and (min-width: 1300px) {
      .theme-tet-header-right::after {
        background-image: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/newyear2023/Background/hoa-dao.png);
        top: 0;
        right:0;
        background-repeat: no-repeat;
        content: '';
        height: 119px;
        width: 95px;
        z-index: 1000;
        pointer-events: none;
        position: absolute;
        background-size: 100%;
      }
    }
  .nav-user-login::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: calc(50% - 8px);
    border-bottom: 8px solid #d9d9d9;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom-color: #fff;
  }
  .spec-product:nth-child(2n + 1) {
    background-color: rgba(194, 185, 185, 0.637);
  }
  .btn-detail-spec {
    position: relative;
    width: 100%;
    display: block;
    max-width: 340px;
    border: 1px solid #2f80ed;
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    color: #2f80ed;
    cursor: pointer;
    margin: 10px auto !important;
  }
  .btn-detail-spec-action::before {
    content: '';
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #2f80ed;
    position: absolute;
    right: -15px;
    top: 8px;
  }
}

.slider {
  position: relative;
  width: 100%;
  min-height: 422px;
  overflow: hidden;
  /* text-align: center; */
  padding-top: 10px;
  z-index: 0;
}

.slider a.previousButton, .slider a.nextButton {
  font-size: 22px;
  line-height: 0;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .0.5s linear;
  transition: all .0.5s linear;
  z-index: 1;
  color: #333;
  padding: 10px;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden
  /* prevent jump effect when scaling */
}

.slider a.previousButton:not(.disabled):hover, .slider a.nextButton:not(.disabled):hover {
  -webkit-transform: translateY(-50%) scale(1.25);
          transform: translateY(-50%) scale(1.25);
  cursor: pointer;
}

.disabled{

  visibility: hidden;
}

.slider a.previousButton {
  left: 10px;
  background-color: rgba(109, 100, 100, 0.664);
}

.slider a.nextButton {
  right: 10px;
  background-color: rgba(109, 100, 100, 0.664);
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden
}

.slide.hidden {
  visibility: hidden;
}

.slide.previous {
  left: -100%;
}

.slide.current {
  left: 0;
}

.slide.next {
  left: 100%;
}

.slide.animateIn,
  .slide.animateOut {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.slide.animateIn.previous,
    .slide.animateIn.next {
  left: 0;
  visibility: visible;
}

.slide.animateOut.previous {
  left: 100%;
}

.slide.animateOut.next {
  left: -100%;
}

body {
  background-color: #fff;
}
body::before {
  content: '';
  background-image: url('https://firebasestorage.googleapis.com/v0/b/dotted-hulling-326801.appspot.com/o/shop%20tech%2Fmua-lan-left.png?alt=media&token=e9095473-85fe-483b-a06c-d35f63ce038f');
  position: fixed;
  background-size: 100%;
  width: 8%;
  height: 272px;
  top: 110px;
  object-fit: contain;
  z-index: -3;
  background-repeat: no-repeat;
} 
body::after {
  content: '';
  background-image: url('https://firebasestorage.googleapis.com/v0/b/dotted-hulling-326801.appspot.com/o/shop%20tech%2Fbg-banh-chung-right.png?alt=media&token=b2356906-d08e-4935-a21f-2107a3c13336');
  position: fixed;
  background-size: 100%;
  width: 8%;
  height: 272px;
  top: 110px;
  right: 0;
  object-fit: contain;
  background-repeat: no-repeat;
  z-index: -3;
}

.row-history-orders {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr;
  grid-template-rows: 60px;
  gap: 10px;
}

.skeleton-history-orders {
  background: #e1e1e1;
  border-radius: 4px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.skeleton-history-orders::before {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #e8e8e8 50%,
    transparent 100%
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}